@using Tuan4_VoHaNam.Models
<h2 style="text-align:center">Thông tin đặt hàng</h2>
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên khách hàng: </td>
            <td style="font-weight:bold">@kh.hoten</td>
        </tr>

        <tr style="height:40px">
            <td>Email: </td>
            <td style="font-weight:bold">@kh.email</td>
        </tr>

        <tr style="height:40px">
            <td>Địa chỉ: </td>
            <td style="font-weight:bold">@kh.diachi</td>
        </tr>

        <tr style="height:40px">
            <td>Điện thoại: </td>
            <td style="font-weight:bold">@kh.dienthoai</td>
        </tr>

        <tr style="height:40px">
            <td>Ngày đặt: </td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>

        <tr style="height:40px">
            <td>Ngày giao: </td>
            <td style="font-weight:bold">
                <input type="date" name="NgayGiao" />
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td style="font-weight:bold">
                <input type="submit" value="Xác nhận" class="btn btn-success" />
            </td>
        </tr>
    }
</table>

